*{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h3{
    color: rgb(226, 158, 10);
    text-align: left;
    font-size: 30px;
}
h2{
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 100px;
    border-style: double;
    background-color: antiquewhite;
    color: rgb(146, 104, 40);
    text-align: center;
    font-size: 60px;
   
}
h1{
    background-color: antiquewhite;
    border-radius: 60px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(207, 133, 63);
    font-size: 100px;
    text-align: center;
    text-decoration: underline;
}
h4{
    color: aliceblue;
}
#p1{
    color: aliceblue;
 font-size: 30px;
    color: hsl(97, 51, 8);

}
   
#p2{
    color: aliceblue;
font-size: 25px;
color: hsl(97, 51, 8);
}
body{
    background-color: antiquewhite;
    background-image: url(../puplic/images/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#p3{
    color: aliceblue;
}
.logo{

     width: 80%;
    height: 350px;
    border: 60px;
}
#Accessories{
      font-size: 30px;
     color: rgb(199, 110, 26);

 }